<div>	
	<a class="btn btn-primary btn-lg btn-block" type="button" href="/cataleg-productes/consultar-llista-productes" translate>menu.productes</a>	
	<a class="btn btn-primary btn-lg btn-block" type="button" href="/supers/consultar-llista-supermercats" translate>menu.supermercats</a>
	<a class="btn btn-primary btn-lg btn-block" type="button" href="/cistella/consultar-llista-productes" translate>menu.cistella</a>
	<p><br/></p>
	<a class="btn btn-warning btn-lg btn-block" type="button" href="/seguretat/sortir" translate>menu.sortir</a>
</div>