<div class="btn-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="CatalegProductes.editarProducte(true)">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" ng-click="CatalegProductes.consultarProducte()">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    </button>	 	    
    <button type="button" class="btn btn-default" ng-click="CatalegProductes.editarProducte(false)">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </button>	 
    <button type="button" class="btn btn-default" data-toggle="modal" ng-click="CatalegProductes.esborrarProducte(true)">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </button>	        
   </div>
</div>

<div class="table-responsive">		
	<table class="table table-hover" data-sortable>
		<thead>
			<tr>
				<th id="cataleg_columna_supermercat" ordre="supermercat.nom" translate ng-click="CatalegProductes.ordenar('cataleg_columna_supermercat')">cataleg.columna.supermercat</th>			
				<th id="cataleg_columna_nom" ordre="nom" translate data-sorted="true" data-sorted-direction="ascending" ng-click="CatalegProductes.ordenar('cataleg_columna_nom')">cataleg.columna.nom</th>
				<th id="cataleg_columna_darreracompra" ordre="darreraCompra" translate class="vertical" ng-click="CatalegProductes.ordenar('cataleg_columna_darreracompra')">cataleg.columna.darreracompra</th>
				<th id="cataleg_columna_seguentcompra" ordre="seguentCompra" translate class="vertical" ng-click="CatalegProductes.ordenar('cataleg_columna_seguentcompra')">cataleg.columna.seguentcompra</th>
				<th	id="cataleg_columna_encistella" translate class="boto_cistella" ng-click="CatalegProductes.filtrar()">cataleg.encistella</th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-click="CatalegProductes.seleccionar(producte)" ng-class="{success:(CatalegProductes.retornaSeleccionat()==producte)}" ng-repeat="producte in CatalegProductes.productes | orderBy: CatalegProductes.ordre.camp | filter: CatalegProductes.filtre">
				<td>{{producte.supermercat.nom}}</td>
				<td ng-if="CatalegProductes.translate.use() === 'ca'">{{producte.nom}}</td>
				<td ng-if="CatalegProductes.translate.use() === 'es'">{{producte.nombre}}</td>
				<td class="vertical">{{producte.darreraCompra}}</td>
				<td class="vertical">{{producte.seguentCompra}}</td>
				<td>
				  <div class="boto_cistella"><button class="btn btn-primary btn-xs" ng-click="CatalegProductes.afegirCistella(producte)" ng-hide="CatalegProductes.enCistella(producte.id)">{{'cataleg.afegir' | translate}}<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button></div>
				  <div class="boto_cistella"><button class="btn btn-warning btn-xs" ng-click="CatalegProductes.traureCistella(producte)" ng-hide="!CatalegProductes.enCistella(producte.id)"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>{{'cataleg.traure' | translate}}</button></div>					
				</td>
			</tr>
		</tbody>
	</table>			
</div>	
		
<div ng-include="'view/tornar-enrere.tlp.html'"></div>		

<!-- Eliminar producte -->
<div class="modal fade" id="missatgeEliminar" tabindex="-1" role="dialog" aria-labelledby="missatgeEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="missatgeEliminarLabel" >{{'cataleg.producte.eliminar.titol' | translate}}</h4>
      </div>
      <div class="modal-body">
      	<span ng-if="CatalegProductes.translate.use() === 'ca'">{{'cataleg.producte.eliminar.missatge' | translate}}{{CatalegProductes.retornaSeleccionat().nom}}</span>      
      	<span ng-if="CatalegProductes.translate.use() === 'es'">{{'cataleg.producte.eliminar.missatge' | translate}}{{CatalegProductes.retornaSeleccionat().nombre}}</span>
      </div>
      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">{{'general.cancelar' | translate}}</button>
      	<button type="button" class="btn btn-primary" ng-click="CatalegProductes.esborrarProducte(false)">{{'general.acceptar' | translate}}</button>	        
      </div>
    </div>
  </div>
</div>	