<div class="row">
	<label class="col-lg-2 col-md-2 col-sm-2 col-xs-5 control-label">{{'cataleg.producte.supermercat' | translate}}:</label>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7" ng-if="Producte.producte.supermercat.nom!=null">{{Producte.producte.supermercat.nom}}</div>	
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7" ng-if="Producte.producte.supermercat.nom==null">{{'cataleg.producte.defecte.super' | translate}}</div>
</div>	
<div class="row">
	<label class="col-lg-2 col-md-2 col-sm-2 col-xs-5 control-label">{{'cataleg.producte.nom' | translate}}:</label>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">{{Producte.producte.nom}}</div>
</div>
<div class="row">
	<label class="col-lg-2 col-md-2 col-sm-2 col-xs-5 control-label">{{'cataleg.producte.nombre' | translate}}:</label>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">{{Producte.producte.nombre}}</div>
</div>
<div class="row">	
	<label class="col-lg-2 col-md-2 col-sm-2 col-xs-5 control-label">{{'cataleg.producte.frequencia' | translate}}:</label>		
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">{{Producte.producte.frequencia}}d</div>
</div>
<div class="row">		
	<label class="col-lg-2 col-md-2 col-sm-2 col-xs-5 control-label">{{'cataleg.producte.darrera.compra' | translate}}:</label>
	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">{{Producte.producte.darreraCompra}}</div>
</div>

<div ng-include="'view/tornar-enrere.tlp.html'"></div>
 