<div class="table-responsive">		
	<table class="table table-hover sortable-theme-min" data-sortable>
		<thead>
			<tr>
				<th id="cataleg_columna_supermercat" ordre="supermercat.nom" translate data-sorted="true" data-sorted-direction="ascending" ng-click="Cistella.ordenar('cataleg_columna_supermercat')">cataleg.columna.supermercat</th>			
				<th id="cataleg_columna_nom" ordre="nom" translate ng-click="Cistella.ordenar('cataleg_columna_nom')">cataleg.columna.nom</th>
				<th id="cataleg_columna_darreracompra" ordre="darreraCompra" translate class="vertical" ng-click="Cistella.ordenar('cataleg_columna_darreracompra')">cataleg.columna.darreracompra</th>
				<th id="cataleg_columna_seguentcompra" ordre="seguentCompra" translate class="vertical" ng-click="Cistella.ordenar('cataleg_columna_seguentcompra')">cataleg.columna.seguentcompra</th>				
				<th	ng-if="Cistella.filtre" id="cataleg_columna_encistella" translate class="boto_cistella" ng-click="Cistella.filtrar()">cistella.estat.pendent</th>
				<th	ng-if="!Cistella.filtre" id="cataleg_columna_encistella" translate class="boto_cistella" ng-click="Cistella.filtrar()">cistella.estat.comprat</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="producte in Cistella.productes | orderBy: Cistella.ordre.camp | filter: Cistella.filtre">
				<td>{{producte.supermercat.nom}}</td>
				<td ng-if="Cistella.translate.use() === 'ca'">{{producte.nom}}</td>
				<td ng-if="Cistella.translate.use() === 'es'">{{producte.nombre}}</td>
				<td class="vertical">{{producte.darreraCompra}}</td>
				<td  class="vertical">{{producte.seguentCompra}}</td>				
				<td>
				  <div class="boto_cistella"><button class="btn btn-primary btn-xs" ng-click="Cistella.comprarProducte(producte)" ng-hide="!producte.enCistella">{{'cistella.comprar' | translate}}<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button></div>
				  <div class="boto_cistella"><button class="btn btn-warning btn-xs" ng-click="Cistella.retornarProducte(producte)" ng-hide="producte.enCistella"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>{{'cistella.retornar' | translate}}</button></div>					
				</td>
			</tr>
		</tbody>
	</table>			
</div>	
		
<div ng-include="'view/tornar-enrere.tlp.html'"></div>		
